@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

  --Light-Grayish-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--Light-Grayish-Cyan);
}

header {
  background-color: var(--Desaturated-Dark-Cyan);
  padding: 40px;
  margin-bottom: 20px;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: 1px;
  padding: 0;
  position: absolute;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
}
.card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  box-shadow: 0px 8px 22px -12px hsl(180deg 36.66% 47.62%);
  width: 100%;
  gap: 10px;
  padding: 20px;
}

.card__content-border {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
  border-left: 5px solid var(--Desaturated-Dark-Cyan);
  box-shadow: 0px 8px 22px -12px hsl(180deg 36.66% 47.62%);
  width: 100%;
  gap: 10px;
  padding: 20px;
}
.card__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card__company {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.card__location {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card__tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company {
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  font-size: 15px;
}

.new {
  background-color: var(--Desaturated-Dark-Cyan);
  color: white;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  text-transform: uppercase;
}
.featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
  border-radius: 10px;
  color: white;
  padding: 5px;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.position {
  font-weight: 700;
}

.position:hover {
  color: var(--Desaturated-Dark-Cyan);
}
.postedAt {
  font-size: 14px;
  font-weight: 500;
  color: var(--Dark-Grayish-Cyan);
}

.role,
.level,
.languague,
.tools {
  background-color: rgb(205 240 244);
  padding: 5px;
  color: var(--Dark-Grayish-Cyan);
  cursor: pointer;
  border-radius: 5px;
}

.role:hover,
.level:hover,
.languague:hover,
.tools:hover {
  background-color: var(--Desaturated-Dark-Cyan);
  color: var(--Light-Grayish-Cyan);
}

.tags__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 22px -12px hsl(180deg 36.66% 47.62%);
  padding: 20px;
}

.tags__text {
  background-color: rgb(205 240 244);
  padding: 5px;
  color: var(--Dark-Grayish-Cyan);
  border-radius: 3px;
}

.tags__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.tags__info {
  display: flex;
  align-items: center;
}

.tags__close {
  border-radius: 3px;
  color: var(--Light-Grayish-Cyan);
  background-color: var(--Desaturated-Dark-Cyan);
  padding: 4px;
  cursor: pointer;
}

.tags__close:hover {
  background-color: var(--Very-Dark-Grayish-Cyan);
}

.tags__clear {
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  cursor: pointer;
}

.tags__clear:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.footer > a {
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
}

@media screen and (max-width: 649px) {
  .card__container {
    padding: 15px;
  }
  .card__container,
  .card__info {
    flex-direction: column;
  }
  .card__tags {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .card__content,
  .card__content-border {
    flex-direction: column;
    position: relative;
    margin-top: 20px;
  }

  .card__container {
    gap: 20px;
    padding: 0px 15px;
  }
  .card__logo {
    position: absolute;
    top: -23px;
    left: 9px;
    height: 50px;
  }
  .card__description {
    margin-top: 10px;
  }
  .card__info {
    align-items: initial;
  }

  .card__company {
    gap: 20px;
  }

  .card__tags {
    margin-top: 15px;
    align-items: initial;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: initial;
  }

  .separator {
    width: 100%;
    border-bottom: 1px solid var(--Dark-Grayish-Cyan);
  }
}
